extends layout.pug

block content
  .row.mt-5
    .col-md-3.text-center 
      img(src="/images/user.png" width="100px" height="100px")
      .h4.mt-1 {user.name}
      .h6  {user.email}
      .pt-2
        button.btn.btn-primary.w-75(type="") Add Buddy
        button.btn.btn-danger.w-75.mt-2(type="") Logout
    
    .col-md-3
      .card.bg-light
        .card-header.text-center My Buddies
      //- Buddies //
      .card.mt-1
        .card-body
          .row.no-gutters
            .col-md-4
              img(src="/images/user.png" width="50px" height="50px")
            .col-md-8
              p.mb-0 Buddy Name
              small buddyemail@email.com
      
      .card.mt-1
        .card-body
          .row.no-gutters
            .col-md-4
              img(src="/images/user.png" width="50px" height="50px")
            .col-md-8
              p.mb-0 Buddy Name
              small buddyemail@email.com
      
      .card.mt-1
        .card-body
          .row.no-gutters
            .col-md-4
              img(src="/images/user.png" width="50px" height="50px")
            .col-md-8
              p.mb-0 Buddy Name
              small buddyemail@email.com
      

    .col-md-3
      //- Buddy Requests //
      .col-md-3
      .card.bg-light
        .card-header.text-center Incoming Buddy Requests

      .card.mt-1
        .card-body
          .row.no-gutters
            .col-md-4
              img(src="/images/user.png" width="50px" height="50px")
            .col-md-8
              p.mb-0 Buddy Name
              small buddyemail@email.com
      
      .card.mt-1
        .card-body
          .row.no-gutters
            .col-md-4
              img(src="/images/user.png" width="50px" height="50px")
            .col-md-8
              p.mb-0 Buddy Name
              small buddyemail@email.com
      
      .card.mt-1
        .card-body
          .row.no-gutters
            .col-md-4
              img(src="/images/user.png" width="50px" height="50px")
            .col-md-8
              p.mb-0 Buddy Name
              small buddyemail@email.com


    .col-md-3
      //- Pending Buddy Requests //
      .col-md-3
      .card.bg-light
        .card-header.text-center Outgoing Buddy Requests
      
      .card.mt-1
        .card-body
          .row.no-gutters
            .col-md-4
              img(src="/images/user.png" width="50px" height="50px")
            .col-md-8
              p.mb-0 Buddy Name
              small buddyemail@email.com
      
      .card.mt-1
        .card-body
          .row.no-gutters
            .col-md-4
              img(src="/images/user.png" width="50px" height="50px")
            .col-md-8
              p.mb-0 Buddy Name
              small buddyemail@email.com
      
      .card.mt-1
        .card-body
          .row.no-gutters
            .col-md-4
              img(src="/images/user.png" width="50px" height="50px")
            .col-md-8
              p.mb-0 Buddy Name
              small buddyemail@email.com
      



