head
  title= title
  link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

body
  nav.navbar.navbar-dark.bg-primary
    .container
      a.navbar-brand(href="#") BUDDIES
    .toast(style="position: absolute; top: 50px; right: 30px;")
      .toast-header
        .box.mr-1(style="width: 15px; height: 15px; background:#F00; border-radius:1px;")
        strong Error Message
        button(type="button" class="ml-auto mb-1 close" data-dismiss="toast" aria-label="close")
          span(aria-hidden="true") &times;
      .toast-body
        #error Error Message
  .container
    block content
  block foot
    nav.navbar.fixed-bottom.navbar-light.bg-light.text-center
      .small.mx-auto Copyright &copy; 2019
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous")
    script(src="/scripts/script.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")