extends layout.pug
block content
  .d-flex.h-75.justify-content-center.align-items-center
    .col-4
      .h1.text-center Register
      .card.p-4
        form.mb-0(method="post" action="/register" id="register")
          .form-group
            label(for="") Full Name
            input.form-control(type="text" placeholder="Enter Full Name" name="name")
          .form-group
            label(for="emailAddress") Email Address
            input.form-control(type="email" placeholder="Enter Email Address" name="email")
          .form-group
            label(for="password") Password
            input.form-control(type="password" placeholder="Enter Password" name="password")
          .form-group
            label(for="confirm_password") Confirm Password
            input.form-control(type="password" placeholder="Confirm Password" name="confirmPassword")
          .pr-4.pl-4.text-center.mt-4
            button.btn.btn-primary.w-100(type="submit") Register
            a.btn.btn-link(href="/login") Already have an account? 